.user {
  @include flex-spb;
  gap: 40px;

  padding-block: 16px;
  border-top: 1px solid $input-border;

  &__head,
  &__customer,
  &__rating,
  &__status,
  &__time {
    @include onDesktop-1600 {
      width: max-content;
    }
  }

  &__avatar {
    @include flex-center;
    @include width-height(40, 40);

    color: $c-info;
    font-weight: 900;
    line-height: 0;

    background-color: #E5EDFF;
    border-radius: 50%;
  }


  &__name-block {
    @include flex;
  }

  &__reason {
    color: $c-danger !important;
  }

  &__name {
    font-weight: 700;
  }

  &__status {
    @include flex-center;

    text-transform: uppercase;

    padding: 8px;

    color: $c-danger !important;

    background-color: $c-danger-light;
    @include border($c-danger);
    border-radius: 3px;
  }

  &__time {
    display: block;
    width: 100%;
    font-weight: 700;

    padding-right: 12px;
  }
}

.userlist {
  @include flex-spb;

  &__column {
    @include flex-spb-column;
    align-items: flex-start;
    width: max-content;
    height: 100%;
  }

  &__avatar {
    @include flex-center;
    @include width-height(40, 40);

    color: $c-info;
    font-weight: 900;
    line-height: 0;

    background-color: #E5EDFF;
    border-radius: 50%;
  }

  &__name-block {
    @include flex;
  }

  &__reason {
    color: $c-danger;
  }

  &__name {
    font-weight: 700;
  }

  &__status {
    text-transform: uppercase;
    line-height: 0;
    @include flex-center;
    padding: 12px;

    color: $c-danger;

    background-color: $c-danger-light;
    @include border($c-danger);
    border-radius: 3px;
  }

  &__time {
    display: block;
    font-weight: 700;
  }
}
