.region {
  @include flex-spb;

  padding-block: 16px;
  border-top: 1px solid $input-border;

  width: 100%;

  @include text-body;
  color: $text-primary;

  &__users-amount,
  &__country,
  &__transactions,
  &__revenue,
  &__convRate {
    @include flex;
    font-weight: 600;
    width: 100%;
  }

  &__percentage {
    color: $text-disabled;
  }

  &__order-number {
    width: 30%;
  }

  &__convRate  {
    justify-content: flex-end;
  }
}
