.charts {
  @include flex-column;
  justify-content: flex-end;
  gap: 16px;

  &__row {
    display: grid;
    --columns: 12;
    grid-template-columns: repeat(var(--columns), 1fr);
    width: 100%;
    gap: 16px;
  }

  &__chart {
    grid-column: span 6;
    height: 100%;

    &--fw {
      grid-column: span 12;
    }
  }
}
