.table-top {
  @include flex;
  gap: 40px;

  border-top: 1px solid $input-border;

  &__checkbox {
    @include flex;
    width: 22%;
  }

  &__item {
    @include flex;
    font-size: 13px;

    text-transform: uppercase;
    font-weight: 700 !important;

    &--user {
      @include onDesktop-1200 {
        width: 40%;
      }

      @include onDesktop-1600 {
        padding-left: 0;
        padding-right: 130px;
      }
    }

    &--reason {
      @include onDesktop-1200 {
        padding-right: 175px;
      }

      @include onDesktop-1600 {
        padding-right: 100px;
      }
    }

    &--status {
      @include onDesktop-1200 {
        padding-right: 210px;
      }

      @include onDesktop-1600 {
        padding-right: 140px;
      }
    }

    &--time {
      @include onDesktop-1600 {}
    }

    &--country {
      @include onDesktop-1200 {
        padding-right: 135px;
      }

      @include onDesktop-1600 {
        padding-right: 75px;
      }
    }

    &--users {
      @include onDesktop-1200 {
        padding-right: 95px;
      }

      @include onDesktop-1600 {
        padding-right: 45px;
      }
    }

    &--transactions {
      @include onDesktop-1200 {
        padding-right: 65px;
      }

      @include onDesktop-1600 {
        padding-right: 25px;
      }
    }

    &--revenue {
      @include onDesktop-1200 {
        padding-right: 140px;
      }

      @include onDesktop-1600 {
        padding-right: 35px;
      }
    }

    &--totalUsersAmount,
    &--totalTransactions,
    &--totalRevenue,
    &--totalConvRate {
      font-weight: 400;
      font-size: 20px;
      padding-block: 10px;
    }

    &--totalUsersAmount {
      @include onDesktop-1200 {
        padding-left: 235px;
        padding-right: 145px;
      }

      @include onDesktop-1600 {
        padding-left: 175px;
        padding-right: 90px;
      }
    }

    &--totalTransactions {
      @include onDesktop-1200 {
        padding-right: 60px;
      }

      @include onDesktop-1600 {
        padding-right: 20px;
      }
    }

    &--totalRevenue {
      @include onDesktop-1200 {
        padding-right: 160px;
      }

      @include onDesktop-1600 {
        padding-right: 55px;
      }
    }
  }
}
