.analytics {
  height: fit-content;
  @include flex-column;
  gap: 44px;


  &__top {
    width: 100%;
    @include flex-column;
  }

  &__data {
    width: 100%;
    @include flex-spb;
    padding-bottom: 30px;
    border-bottom: 1px solid $input-border;
  }

  &__chart {
    width: 100%;
    height: 360px;
  }
}
