.channel-statistics {
  @include grid;
  padding: 32px;

  &__analytics {

    @include onDesktop-1200 {
      grid-column: 1/-1;
    }

    @include onDesktop-1600 {
      grid-column: 1/12;
    }
  }

  &__charts {
    @include onDesktop-1200 {
      grid-column: 1/-1;
    }
    @include onDesktop-1600 {
      grid-column: 13/-1;
      height: 100%;
    }
  }
}
