$tablet-min-width: 768px;
$desktop-min-width: 1200px;

$navbar-top-height: 4rem;
$sidebar-width: 17%;

//  #colors

$hover-bg: #eff2f6;

//  #text
$text-primary: #1E293B;
$text-secondary: #636874;
$text-hint: #7688AC;
$text-disabled: #99A1B0;

$bg: #F5F7FA;

$c-white: #FFF;

$c-success: #22C55E;
$c-success-light: #D9FBD0;
$c-success-dark: #1C6C09;

$c-warning: #E5780B;
$c-light-warning: #FFEFD8;

$c-info: #2AABEE;

$c-info-light: #ADC5FF;

$c-info-dark: #0080C7;

$c-danger: #DC5858;
$c-danger-light: #ffdede;

// #border
$input-border: #E3E4EC;

// font-sizes
$h1-mobile: 32px;
$h2-mobile: 22px;
$h3-mobile: 20px;
$h4-mobile: 16px;

$h1: 48px;
$h2: 32px;
$h3: 22px;
$h4: 20px;

$text-body: 13px;
$text-small: 12px;
$text-button: 14px;
$text-uppercase: 12px;

$lh140: 140%;
$lh100: 100%;
$lh-body: 150%;

$input-border-radius: 40px;

$effect-duration: 0.3s;
