.blocked-users {
  width: 100%;
  @include grid;
  row-gap: 32px;

  padding: 32px;

  background-color: $c-white;
  border-block: 1px solid $input-border;

  &__top {
    grid-column: 1/-1;
  }

  &__list {
    @include onDesktop-1200 {
      grid-column: 1/-1;
      overflow-x: auto;
    }

    @include onDesktop-1600 {
      grid-column: 1/15;
      overflow-x: auto;
    }
  }

  &__chart {
    @include onDesktop-1200 {
      grid-column: 1/-1;
    }

    @include onDesktop-1600 {
      grid-column: 16/-1;
    }
  }
}
