.content-analytics {
  @include grid;
  width: 100%;

  padding: 32px;

  &__customer-rate, &__projection {
    position: relative;
    @include flex-column;
    gap: 24px;
  }

  &__projection {
    grid-column: span 11;

    &-legend {
      @include flex;
      justify-content: flex-end;
      gap: 24px;
      width: 100%;

      & > div {
        @include flex;
        gap: 8px;
      }
    }
  }

  &__customer-rate {
    grid-column: 13/-1;
  }

  &__track {
    position: absolute;
    bottom: 20px;
    right: -5px;
    height: 270px;
    width: 91%;
  }

  &__chart {
    height: 300px;
    width: 100%;
  }
}
