.bar-item {
  @include flex;
  gap: 12px;

  width: 100%;

  padding: 4px 16px;
  border-radius: 8px;

  @include hover(background-color, $hover-bg);

  &--left-padding {
    padding-left: 40%;
  }

  &__icons {
    @include flex-center;
    gap: 4px;
  }

  &--active {
    color: $c-info;
  }
}
