.regions-by-revenue {
  position: relative;
  width: 100%;
  @include grid;
  row-gap: 32px;

  &__top {
    grid-column: 1/15;

    padding-left: 32px;
    padding-top: 32px;
  }

  &__list {
    grid-column: 1/14;
    overflow-x: auto;

    padding-left: 32px;
  }

  &__table-top {
    width: 100%;
  }

  &__map {
    position: absolute;
    z-index: 2;
    top: 0;
    bottom: 0;
    right: 0;
    width: 600px;
    height: 100%;
    grid-column: 16/-1;
  }
}
