.list {
  @include flex-column;
  gap: 0;

  &__user {
    width: 100%;
  }

  &:last-child {
    border-bottom: 1px solid $input-border;
  }

  &__table-top {
    @include onDesktop-1200 {
      width: 100%;
      @include flex;
    }

    @include onDesktop-1600 {
      @include flex-spb;
    }
  }
}
